numpy
opencv-python
face-recognition
faiss-cpu  # Use faiss-gpu if you have CUDA support
Flask
Werkzeug
dlib  # Required by face-recognition
Pillow
git+https://github.com/ageitgey/face_recognition_models
pymongo
flask-cors
dotenv